<br />
<div class="booyah-box col-10 offset-1">
  <h1 class="text-center"><%= current_guide.title %></h1>
  <br />
  <%= link_to 'Preview Guide...', guide_path(current_guide), class: 'btn btn-warning float-right' %>
  <br class="clr" />

  <div class="text-center">
    <%= link_to 'Add a new section...', new_creator_guide_section_path(current_guide), class: 'btn btn-primary btn-lg' %>
  </div>

  <ul>
    <% current_guide.sections.each do |section| %>
      <li>
        <%= section.title %>
        <%= link_to 'New Page', new_creator_section_page_path(section), class: 'float-right btn btn-primary btn-sm' %>
      <ul>
          <% section.pages.each do |page| %>
            <li>
              <b><%= page.title %></b>
              -
              <%= page.subtitle %>
            </li>
          <% end %>
        </ul>
        <br class="clr" />
      </li>
    <% end %>
  </ul>

</div>